# Node.js

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Directory for instrumented lib/chrome
lib-cov

# Coverage directory used by tools like istanbul
coverage

# Dependency directory
node_modules/

# Build directory
/dist/

# Environment variables
.env

# Misc
.DS_Store
Thumbs.db